.list-container {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    transform: rotate(45deg);

    @media (max-width: 550px) {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }
}
.button-container {
    width: 200px;
    height: 200px;
}

.sound-btn {
    width: 30%;
    margin: 0 3px;
    padding: 0;
}
