.sound-preview-container {
    border: none;
    width: 105px;
    height: 105px;

    .sound-preview {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: rgba(97, 190, 240, 0.392);
        border-bottom: 3px solid #959595;
        border-right: 3px solid #959595;
        border-radius: 10px;
    }

    .sound-preview:hover {
        background-color: #cdcdcd;

        @media (max-width: 550px) {
            background-color: unset;
        }
    }
    .sound-preview:active {
        // background-color: #cdcdcd;

        @media (max-width: 550px) {
            background-color: unset;
        }
    }

    h1 {
        transform: rotate(-45deg);

        @media (max-width: 550px) {
            font-size: small;
        }
    }
    .grey {
        color: rgb(234, 255, 0);
    }

    .one {
        background-color: rgb(70, 70, 70);
    }
    .two {
        background-color: #4b5382;
    }
    .three {
        background-color: #9e3232;
    }
    .four {
        background-color: #4b5382;
    }
    .five {
        background-color: #4b5382;
    }
    .six {
        background-color: rgb(70, 70, 70);
    }
    .seven {
        background-color: #9e3232;
    }
    .eight {
        background-color: rgb(70, 70, 70);
    }
    .nine {
        background-color: rgb(70, 70, 70);
    }

    @media (max-width: 550px) {
        border: none;
        width: 70px;
        height: 70px;
    }
}
